<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="https://fathomless-brushlands-33586.herokuapp.com" />
     </customHeaders>
   </httpProtocol>
 </system.webServer>
</configuration>